<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.davygevaert.gentsefeesten" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- onderstaande permissies worden enkel gebruikt bij het aanmaken van een sqlite database op je sd-kaart (voor debugging doeleinden) met sqliteadmin.exe -->
    <!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/gf120x120"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme" >

        <!-- SplashScreen => startscherm -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TabsActivity -->
        <activity
            android:name=".DataActivity"
            android:label="@string/title_activity_data" >
        </activity>
        <activity
            android:name=".CategorieActivity"
            android:label="@string/title_activity_categorie" >
        </activity>
        <activity
            android:name=".LocatieActivity"
            android:label="@string/title_activity_locatie" >
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name=".EventDetailActivity"
            android:label="@string/title_activity_event_detail" >
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name=".ParkingActivity"
            android:label="@string/title_activity_parking" >
        </activity>
        <activity
            android:name=".InfoGentActivity"
            android:label="@string/title_activity_info_gent" >
        </activity>
    </application>

</manifest>
